<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Toyota Web Application Automation Test Suite">
	<listeners>
	<listener class-name="com.toyota.qa.ExtentReportListener.ExtentReportListener"/>
	</listeners>
	
	<test name="Toyota Web application Test Cases">
		<classes>
			<class name="com.toyota.qa.tests.HomePageTest"></class>
			<class name="com.toyota.qa.tests.FindADealerPageTest"></class>
		</classes>
	</test>
</suite>